.reservations {
	flex-direction: column;
	min-height: 100vh;
	padding: 8em 1.5em;
	position: relative;
}

.reservations__title {
	font-size: 1.8em;
	color: #ea4959;
	position: absolute;
	top: 5em;
}
.reservations__container {
	flex-wrap: wrap;
	gap: 2em;
	margin-top: 4em;
}
.link {
	color: #ea4959;
	text-align: center;
	font-size: 1.2em;
	transition: 0.5s ease;
	&:hover {
		color: gold;
	}
}
